p { 
	text-indent: 20px; 
}
body{
	color: 				black;
	background-color:		chocolate;
	margin: 			0px;
	border: 			0px;
	padding-top: 			70px;
} 

aside {
    width: 		260px;
    float: 		right;
    border-top: 	1px solid #21a1e1;
    border-left: 	1px solid #21a1e1;
    border-right: 	1px solid #21a1e1;
    border-bottom: 	1px solid #21a1e1;
    padding-left: 	0px;
    margin-left: 	20px;
}

/*Start of Navigation Bar*/ 	
ul {
    list-style-type: 	none;
    margin: 		0;
    padding-top: 	0;
    overflow: 		hidden;
    background-color: 	#333;
    position: 		fixed;
    top: 		0;
    width: 		100%;
}

li {
    float: left;
}

li a {
    display: 		block;
    color: 		white;
    text-align: 	center;
    padding:		14px 16px;
    text-decoration: 	none;
}

li a:hover {
    background-color: #111;
}
/*End Of Navigation Bar*/ 




